$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;

$font-title: "Shrikhand", cursive;
$font-main: "Roboto", sans-serif;

@mixin tablet-only {
	@media screen and (min-width: 381px) {
		@content;
	}
}

@mixin pc1024-only {
	@media screen and (min-width: 1024px) {
		@content;
	}
}

@mixin pc1440-only {
	@media screen and (min-width: 1440px) {
		@content;
	}
}

html,
body {
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 20px;
	font-weight: bold;
	font-family: $font-main;
	text-align: center;
}

h2 {
	font-size: 20px;
	font-weight: bold;
	font-family: $font-main;
}

h3 {
	font-size: 16px;
	font-weight: bold;
	font-family: $font-main;
}

p {
	font-size: 14px;
	font-family: $font-main;
}

a {
	text-decoration: none;
	font-size: 14px;
	font-family: $font-main;
	color: black;
}

li {
	text-decoration: none;
	font-size: 14px;
	font-family: $font-main;
	color: black;
	list-style-type: none;
}

header {
	#logo_header {
		padding: 15px;
		text-align: center;
	}
}

.main {
	&__container {
		.form {
			height: 50px;
			background-color: #eaeaea;
			display: flex;
			justify-content: center;
			align-items: center;
			background: rgb(234, 234, 234);
			background: linear-gradient(
				0deg,
				rgba(234, 234, 234, 1) 89%,
				rgba(144, 144, 144, 1) 100%,
				rgba(234, 234, 234, 1) 100%
			);

			form {
				color: #353535;

				input {
					background-color: #eaeaea;
					padding-left: 15px;
					border: none;
					font-family: $font-main;
					font-weight: bold;
					font-size: 15px;
				}
			}
		}

		.description {
			background-color: #f6f6f6;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			text-align: center;
			padding-top: 40px;
			padding-bottom: 40px;
			@include tablet-only {
				flex-direction: column;
			}

			h1 {
				padding: 0 80px;
			}

			p {
				padding: 0 35px;
				color: #353535;
				margin-top: 20px;
			}

			.button {
				background: rgb(147, 86, 220);
				background: linear-gradient(
					357deg,
					rgba(147, 86, 220, 1) 5%,
					rgba(255, 121, 218, 1) 100%,
					rgba(234, 234, 234, 1) 100%
				);
				padding: 20px;
				border-radius: 50px;
				color: white;
				margin-top: 35px;
				box-shadow: 5px 4px 17px -8px rgba(0, 0, 0, 0.77);

				@include tablet-only {
				}
			}
		}
	}
}

.fonctionnement {
	margin: 0px 20px;
	@include tablet-only {
		display: flex;
		flex-direction: column;
	}

	&__container {
		@include tablet-only {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
		}
		&__description {
			background-color: #f6f6f6;
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 25px 0px;
			padding: 10px;
			border-radius: 50px;
			box-shadow: 5px 4px 17px -8px rgba(0, 0, 0, 0.77);
			@include tablet-only {
				width: 35%;
			}
			@include pc1024-only {
				width: 25%;
			}

			.fas {
				padding: 15px;
				color: rgb(126, 126, 126);
			}

			p {
				font-weight: bold;
			}

			.number {
				color: white;
				font-weight: normal;
				margin-left: -125px;
				height: 25px;
				width: 25px;
				background-color: $primary-color;
				border-radius: 50%;
				display: flex;
				justify-content: center;
				align-items: center;
				@include tablet-only {
					margin-left: -80px;
				}
				@include pc1024-only {
					margin-left: -60px;
				}
				@include pc1440-only {
					margin-left: -170px;
				}
			}

			&--violet {
				background-color: rgb(245, 237, 255);
				display: flex;
				justify-content: center;
				align-items: center;
				margin: 25px 0px;
				padding: 10px;
				border-radius: 50px;
				box-shadow: 5px 4px 17px -8px rgba(0, 0, 0, 0.77);
				@include tablet-only {
					width: 35%;
				}
				@include pc1024-only {
					width: 25%;
				}

				.fas {
					padding: 15px;
					color: $primary-color;
				}

				p {
					font-weight: bold;
				}

				.number {
					color: white;
					font-weight: normal;
					margin-left: -125px;
					height: 25px;
					width: 25px;
					background-color: $primary-color;
					border-radius: 50%;
					display: flex;
					justify-content: center;
					align-items: center;

					@include tablet-only {
						margin-left: -80px;
					}
					@include pc1024-only {
						margin-left: -60px;
					}
					@include pc1440-only {
						margin-left: -170px;
					}
				}
			}
		}
	}
}

#restaurants {
	margin: 0 20px;

	.restaurants__container {
		.restaurants {
			@include tablet-only {
				display: flex;
				flex-wrap: wrap;
				flex-direction: row;
				justify-content: space-evenly;
			}
			a {
				display: flex;
				flex-direction: column;
				border-radius: 20px;
				box-shadow: 0 0 7px #c1c1c1;
				margin: 20px 0px;
				position: relative;

				@include tablet-only {
					width: 45%;
				}

				img {
					object-fit: cover;
					height: 175px;
					border-radius: 20px 20px 0 0;
				}

				.new_topright {
					position: absolute;
					top: 8px;
					right: 16px;
					color: rgb(0, 135, 102);
					background-color: $tertiary-color;
					padding: 8px 15px;
					border-radius: 5px;
				}
			}

			&__description {
				display: flex;
				justify-content: space-between;
				height: 75px;

				&__texte {
					display: flex;
					flex-direction: column;
					margin: 5px 15px;
					line-height: 0px;

					p {
						font-size: 16px;
					}
				}

				.far {
					display: flex;
					justify-content: center;
					align-items: center;
					font-size: 25px;
					padding: 25px;
				}
			}
		}
	}
}

footer {
	background-color: rgb(53, 53, 53);
	margin: 0;
	padding: 0 0 20px 0;

	#logo_footer {
		padding: 15px 15px;

		h3 {
			color: white;
			font-family: $font-title;
			margin: 0;
			font-size: 20px;
		}
	}

	ul {
		padding: 0px 15px;
		margin: 0;
		line-height: 25px;

		a {
			color: white;

			.fas {
				padding: 0px 10px 0 0;
				font-size: 10px;
			}
		}
	}
}
