$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;

$font-title: "Shrikhand", cursive;
$font-main: "Roboto", sans-serif;

html,
body {
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 25px;
	font-weight: bold;
	font-family: $font-title;
	text-align: center;
}

h2 {
	font-size: 15px;
	font-weight: bold;
	font-family: $font-main;
	text-transform: uppercase;
	color: rgb(76, 76, 76);
}

h3 {
	font-size: 15px;
	font-weight: bold;
	font-family: $font-main;
	text-overflow: ellipsis;
}

p {
	font-size: 14px;
	font-family: $font-main;
}

a {
	text-decoration: none;
	font-size: 14px;
	font-family: $font-main;
	color: black;
}

li {
	text-decoration: none;
	font-size: 14px;
	font-family: $font-main;
	color: black;
	list-style-type: none;
}

header {
	display: flex;
	a {
		padding: 25px;
		font-size: 17px;
	}
	#logo_header {
		padding: 15px 0 15px 25px;
	}
}

main {
	img {
		object-fit: cover;
		height: 265px;
	}

	.menu {
		padding: 40px 30px;
		border-radius: 40px 40px 0 0;
		margin-top: -40px;
		position: relative;
		background-color: rgb(246, 246, 246);

		.name {
			display: flex;
			justify-content: space-between;
			h1 {
				margin: 0;
			}
			.far {
				font-size: 25px;
				padding: 5px;
			}
		}
		&__container {
			.title {
				.underline {
					width: 40px;
					height: 3px;
					background-color: $tertiary-color;
					margin-top: -5px;
				}
			}
			.block {
				background-color: white;
				box-shadow: 0 0 7px #c1c1c1;
				border-radius: 20px;
				margin: 15px 0;
				display: flex;
				justify-content: space-between;
				height: 70px;

				&__menu_description {
					margin: 0 10px;
					h3 {
						margin: 15px 0px 5px 5px;
					}
					p {
						white-space: nowrap;
						overflow: hidden;
						width: 240px;
						text-overflow: ellipsis;
						margin: 0 0 5px 5px;
					}
				}

				&__price {
					margin: 35px 20px 0px 0;

					p {
						margin: 0;
						font-weight: bold;
					}
				}
			}
		}
		.button {
			background: rgb(147, 86, 220);
			background: linear-gradient(
				357deg,
				rgba(147, 86, 220, 1) 5%,
				rgba(255, 121, 218, 1) 100%,
				rgba(234, 234, 234, 1) 100%
			);
			padding: 20px 30px;
			margin: 45px 70px 0 70px;
			border-radius: 50px;
			box-shadow: 5px 4px 17px -8px rgba(0, 0, 0, 0.77);

			a {
				padding: 0 20px;
				text-align: center;
				color: white;
			}
		}
	}
}
footer {
	background-color: rgb(53, 53, 53);
	margin: 0;
	padding: 0 0 20px 0;

	#logo_footer {
		padding: 15px 15px;

		h3 {
			color: white;
			font-family: $font-title;
			margin: 0;
			font-size: 20px;
		}
	}

	ul {
		padding: 0px 15px;
		margin: 0;
		line-height: 25px;

		a {
			color: white;

			.fas {
				padding: 0px 10px 0 0;
				font-size: 10px;
			}
		}
	}
}
