@import "./utils/variables";
@import "./utils/keyframesloader";
@import "./utils/keyframespages";
@import "./utils/mixin";
@import "./base/basepages";
@import "./layouts/loaderpages";
@import "./layouts/headerpages";
@import "./pages/restaurant";
@import "./layouts/footer";
