html,
body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 20px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

h3 {
  font-size: 16px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

p {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: black;
}

li {
  text-decoration: none;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: black;
  list-style-type: none;
}

header #logo_header {
  padding: 15px;
  text-align: center;
}

.main__container .form {
  height: 50px;
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eaeaea;
  background: linear-gradient(0deg, #eaeaea 89%, #909090 100%, #eaeaea 100%);
}
.main__container .form form {
  color: #353535;
}
.main__container .form form input {
  background-color: #eaeaea;
  padding-left: 15px;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 15px;
}
.main__container .description {
  background-color: #f6f6f6;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
@media screen and (min-width: 381px) and (max-width: 1024px) {
  .main__container .description {
    flex-direction: column;
  }
}
.main__container .description h1 {
  padding: 0 80px;
}
.main__container .description p {
  padding: 0 35px;
  color: #353535;
  margin-top: 20px;
}
.main__container .description .button {
  background: #9356dc;
  background: linear-gradient(357deg, #9356dc 5%, #ff79da 100%, #eaeaea 100%);
  padding: 20px;
  border-radius: 50px;
  color: white;
  margin-top: 35px;
  box-shadow: 5px 4px 17px -8px rgba(0, 0, 0, 0.77);
}
.fonctionnement {
  margin: 0px 20px;
}
@media screen and (min-width: 381px) and (max-width: 1024px) {
  .fonctionnement {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 381px) and (max-width: 1024px) {
  .fonctionnement__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
.fonctionnement__container__description {
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 0px;
  padding: 10px;
  border-radius: 50px;
  box-shadow: 5px 4px 17px -8px rgba(0, 0, 0, 0.77);
}
@media screen and (min-width: 381px) and (max-width: 1024px) {
  .fonctionnement__container__description {
    width: 35%;
  }
}
.fonctionnement__container__description .fas {
  padding: 15px;
  color: #7e7e7e;
}
.fonctionnement__container__description p {
  font-weight: bold;
}
.fonctionnement__container__description .number {
  color: white;
  font-weight: normal;
  margin-left: -125px;
  height: 25px;
  width: 25px;
  background-color: #9356dc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 381px) and (max-width: 1024px) {
  .fonctionnement__container__description .number {
    margin-left: -80px;
  }
}
.fonctionnement__container__description--violet {
  background-color: #f5edff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 0px;
  padding: 10px;
  border-radius: 50px;
  box-shadow: 5px 4px 17px -8px rgba(0, 0, 0, 0.77);
}
@media screen and (min-width: 381px) and (max-width: 1024px) {
  .fonctionnement__container__description--violet {
    width: 35%;
  }
}
.fonctionnement__container__description--violet .fas {
  padding: 15px;
  color: #9356dc;
}
.fonctionnement__container__description--violet p {
  font-weight: bold;
}
.fonctionnement__container__description--violet .number {
  color: white;
  font-weight: normal;
  margin-left: -125px;
  height: 25px;
  width: 25px;
  background-color: #9356dc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 381px) and (max-width: 1024px) {
  .fonctionnement__container__description--violet .number {
    margin-left: -80px;
  }
}

#restaurants {
  margin: 0 20px;
}
@media screen and (min-width: 381px) and (max-width: 1024px) {
  #restaurants .restaurants__container .restaurants {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
#restaurants .restaurants__container .restaurants a {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 0 0 7px #c1c1c1;
  margin: 20px 0px;
}
@media screen and (min-width: 381px) and (max-width: 1024px) {
  #restaurants .restaurants__container .restaurants a {
    width: 45%;
  }
}
#restaurants .restaurants__container .restaurants a img {
  object-fit: cover;
  height: 175px;
  border-radius: 20px 20px 0 0;
}
#restaurants .restaurants__container .restaurants__description {
  display: flex;
  justify-content: space-between;
  height: 75px;
}
#restaurants .restaurants__container .restaurants__description__texte {
  display: flex;
  flex-direction: column;
  margin: 5px 15px;
  line-height: 0px;
}
#restaurants .restaurants__container .restaurants__description__texte p {
  font-size: 16px;
}
#restaurants .restaurants__container .restaurants__description .far {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  padding: 25px;
}

footer {
  background-color: #353535;
  margin: 0;
  padding: 0 0 20px 0;
}
footer #logo_footer {
  padding: 15px 15px;
}
footer #logo_footer h3 {
  color: white;
  font-family: "Shrikhand", cursive;
  margin: 0;
  font-size: 20px;
}
footer ul {
  padding: 0px 15px;
  margin: 0;
  line-height: 25px;
}
footer ul a {
  color: white;
}
footer ul a .fas {
  padding: 0px 10px 0 0;
  font-size: 10px;
}

/*# sourceMappingURL=index.css.map */
