html,
body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 20px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

h3 {
  font-size: 16px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

p {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: black;
}

li {
  text-decoration: none;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: black;
  list-style-type: none;
}

header #logo_header {
  padding: 15px;
  text-align: center;
}

.main__container .form {
  height: 50px;
  background-color: #eaeaea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #eaeaea;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(89%, #eaeaea), color-stop(100%, #909090), to(#eaeaea));
  background: -o-linear-gradient(bottom, #eaeaea 89%, #909090 100%, #eaeaea 100%);
  background: linear-gradient(0deg, #eaeaea 89%, #909090 100%, #eaeaea 100%);
}
.main__container .form form {
  color: #353535;
}
.main__container .form form input {
  background-color: #eaeaea;
  padding-left: 15px;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 15px;
}
.main__container .description {
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
@media screen and (min-width: 381px) {
  .main__container .description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.main__container .description h1 {
  padding: 0 80px;
}
.main__container .description p {
  padding: 0 35px;
  color: #353535;
  margin-top: 20px;
}
.main__container .description .button {
  background: #9356dc;
  background: -o-linear-gradient(93deg, #9356dc 5%, #ff79da 100%, #eaeaea 100%);
  background: linear-gradient(357deg, #9356dc 5%, #ff79da 100%, #eaeaea 100%);
  padding: 20px;
  border-radius: 50px;
  color: white;
  margin-top: 35px;
  -webkit-box-shadow: 5px 4px 17px -8px rgba(0, 0, 0, 0.77);
          box-shadow: 5px 4px 17px -8px rgba(0, 0, 0, 0.77);
}
.fonctionnement {
  margin: 0px 20px;
}
@media screen and (min-width: 381px) {
  .fonctionnement {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 381px) {
  .fonctionnement__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
.fonctionnement__container__description {
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 25px 0px;
  padding: 10px;
  border-radius: 50px;
  -webkit-box-shadow: 5px 4px 17px -8px rgba(0, 0, 0, 0.77);
          box-shadow: 5px 4px 17px -8px rgba(0, 0, 0, 0.77);
}
@media screen and (min-width: 381px) {
  .fonctionnement__container__description {
    width: 35%;
  }
}
@media screen and (min-width: 1024px) {
  .fonctionnement__container__description {
    width: 25%;
  }
}
.fonctionnement__container__description .fas {
  padding: 15px;
  color: #7e7e7e;
}
.fonctionnement__container__description p {
  font-weight: bold;
}
.fonctionnement__container__description .number {
  color: white;
  font-weight: normal;
  margin-left: -125px;
  height: 25px;
  width: 25px;
  background-color: #9356dc;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 381px) {
  .fonctionnement__container__description .number {
    margin-left: -80px;
  }
}
@media screen and (min-width: 1024px) {
  .fonctionnement__container__description .number {
    margin-left: -60px;
  }
}
@media screen and (min-width: 1440px) {
  .fonctionnement__container__description .number {
    margin-left: -170px;
  }
}
.fonctionnement__container__description--violet {
  background-color: #f5edff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 25px 0px;
  padding: 10px;
  border-radius: 50px;
  -webkit-box-shadow: 5px 4px 17px -8px rgba(0, 0, 0, 0.77);
          box-shadow: 5px 4px 17px -8px rgba(0, 0, 0, 0.77);
}
@media screen and (min-width: 381px) {
  .fonctionnement__container__description--violet {
    width: 35%;
  }
}
@media screen and (min-width: 1024px) {
  .fonctionnement__container__description--violet {
    width: 25%;
  }
}
.fonctionnement__container__description--violet .fas {
  padding: 15px;
  color: #9356dc;
}
.fonctionnement__container__description--violet p {
  font-weight: bold;
}
.fonctionnement__container__description--violet .number {
  color: white;
  font-weight: normal;
  margin-left: -125px;
  height: 25px;
  width: 25px;
  background-color: #9356dc;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 381px) {
  .fonctionnement__container__description--violet .number {
    margin-left: -80px;
  }
}
@media screen and (min-width: 1024px) {
  .fonctionnement__container__description--violet .number {
    margin-left: -60px;
  }
}
@media screen and (min-width: 1440px) {
  .fonctionnement__container__description--violet .number {
    margin-left: -170px;
  }
}

#restaurants {
  margin: 0 20px;
}
@media screen and (min-width: 381px) {
  #restaurants .restaurants__container .restaurants {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
#restaurants .restaurants__container .restaurants a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 7px #c1c1c1;
          box-shadow: 0 0 7px #c1c1c1;
  margin: 20px 0px;
  position: relative;
}
@media screen and (min-width: 381px) {
  #restaurants .restaurants__container .restaurants a {
    width: 45%;
  }
}
#restaurants .restaurants__container .restaurants a img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 175px;
  border-radius: 20px 20px 0 0;
}
#restaurants .restaurants__container .restaurants a .new_topright {
  position: absolute;
  top: 8px;
  right: 16px;
  color: #008766;
  background-color: #99e2d0;
  padding: 8px 15px;
  border-radius: 5px;
}
#restaurants .restaurants__container .restaurants__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 75px;
}
#restaurants .restaurants__container .restaurants__description__texte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5px 15px;
  line-height: 0px;
}
#restaurants .restaurants__container .restaurants__description__texte p {
  font-size: 16px;
}
#restaurants .restaurants__container .restaurants__description .far {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 25px;
  padding: 25px;
}

footer {
  background-color: #353535;
  margin: 0;
  padding: 0 0 20px 0;
}
footer #logo_footer {
  padding: 15px 15px;
}
footer #logo_footer h3 {
  color: white;
  font-family: "Shrikhand", cursive;
  margin: 0;
  font-size: 20px;
}
footer ul {
  padding: 0px 15px;
  margin: 0;
  line-height: 25px;
}
footer ul a {
  color: white;
}
footer ul a .fas {
  padding: 0px 10px 0 0;
  font-size: 10px;
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uLy4uLy4uL3Nhc3MvaW5kZXguc2NzcyIsIi4uL2luZGV4LmNzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUF5QkE7O0VBRUMsU0FBQTtFQUNBLFVBQUE7QUN4QkQ7O0FEMkJBO0VBQ0MsZUFBQTtFQUNBLGlCQUFBO0VBQ0EsaUNBN0JXO0VBOEJYLGtCQUFBO0FDeEJEOztBRDJCQTtFQUNDLGVBQUE7RUFDQSxpQkFBQTtFQUNBLGlDQXBDVztBQ1laOztBRDJCQTtFQUNDLGVBQUE7RUFDQSxpQkFBQTtFQUNBLGlDQTFDVztBQ2tCWjs7QUQyQkE7RUFDQyxlQUFBO0VBQ0EsaUNBL0NXO0FDdUJaOztBRDJCQTtFQUNDLHFCQUFBO0VBQ0EsZUFBQTtFQUNBLGlDQXJEVztFQXNEWCxZQUFBO0FDeEJEOztBRDJCQTtFQUNDLHFCQUFBO0VBQ0EsZUFBQTtFQUNBLGlDQTVEVztFQTZEWCxZQUFBO0VBQ0EscUJBQUE7QUN4QkQ7O0FENEJDO0VBQ0MsYUFBQTtFQUNBLGtCQUFBO0FDekJGOztBRCtCRTtFQUNDLFlBQUE7RUFDQSx5QkFBQTtFQUNBLG9CQUFBO0VBQUEsb0JBQUE7RUFBQSxhQUFBO0VBQ0Esd0JBQUE7TUFBQSxxQkFBQTtVQUFBLHVCQUFBO0VBQ0EseUJBQUE7TUFBQSxzQkFBQTtVQUFBLG1CQUFBO0VBQ0EsbUJBQUE7RUFDQSw2SEFBQTtFQUFBLCtFQUFBO0VBQUEsMEVBQUE7QUM1Qkg7QURtQ0c7RUFDQyxjQUFBO0FDakNKO0FEbUNJO0VBQ0MseUJBQUE7RUFDQSxrQkFBQTtFQUNBLFlBQUE7RUFDQSxpQ0EvRk87RUFnR1AsaUJBQUE7RUFDQSxlQUFBO0FDakNMO0FEc0NFO0VBQ0MseUJBQUE7RUFDQSxvQkFBQTtFQUFBLG9CQUFBO0VBQUEsYUFBQTtFQUNBLG1CQUFBO01BQUEsZUFBQTtFQUNBLHdCQUFBO01BQUEscUJBQUE7VUFBQSx1QkFBQTtFQUNBLGtCQUFBO0VBQ0EsaUJBQUE7RUFDQSxvQkFBQTtBQ3BDSDtBRHRFQztFQW1HQztJQVNFLDRCQUFBO0lBQUEsNkJBQUE7UUFBQSwwQkFBQTtZQUFBLHNCQUFBO0VDbENGO0FBQ0Y7QURvQ0c7RUFDQyxlQUFBO0FDbENKO0FEcUNHO0VBQ0MsZUFBQTtFQUNBLGNBQUE7RUFDQSxnQkFBQTtBQ25DSjtBRHNDRztFQUNDLG1CQUFBO0VBQ0EsNkVBQUE7RUFBQSwyRUFBQTtFQU1BLGFBQUE7RUFDQSxtQkFBQTtFQUNBLFlBQUE7RUFDQSxnQkFBQTtFQUNBLHlEQUFBO1VBQUEsaURBQUE7QUN6Q0o7QURrREE7RUFDQyxnQkFBQTtBQ2hERDtBRC9GQztFQThJRDtJQUdFLG9CQUFBO0lBQUEsb0JBQUE7SUFBQSxhQUFBO0lBQ0EsNEJBQUE7SUFBQSw2QkFBQTtRQUFBLDBCQUFBO1lBQUEsc0JBQUE7RUM5Q0E7QUFDRjtBRHJHQztFQXFKQTtJQUVFLG9CQUFBO0lBQUEsb0JBQUE7SUFBQSxhQUFBO0lBQ0EsbUJBQUE7UUFBQSxlQUFBO0lBQ0EseUJBQUE7UUFBQSw2QkFBQTtFQzlDRDtBQUNGO0FEK0NFO0VBQ0MseUJBQUE7RUFDQSxvQkFBQTtFQUFBLG9CQUFBO0VBQUEsYUFBQTtFQUNBLHdCQUFBO01BQUEscUJBQUE7VUFBQSx1QkFBQTtFQUNBLHlCQUFBO01BQUEsc0JBQUE7VUFBQSxtQkFBQTtFQUNBLGdCQUFBO0VBQ0EsYUFBQTtFQUNBLG1CQUFBO0VBQ0EseURBQUE7VUFBQSxpREFBQTtBQzdDSDtBRHRIQztFQTJKQztJQVVFLFVBQUE7RUMzQ0Y7QUFDRjtBRHJIQztFQXFKQztJQWFFLFVBQUE7RUN6Q0Y7QUFDRjtBRDJDRztFQUNDLGFBQUE7RUFDQSxjQUFBO0FDekNKO0FENENHO0VBQ0MsaUJBQUE7QUMxQ0o7QUQ2Q0c7RUFDQyxZQUFBO0VBQ0EsbUJBQUE7RUFDQSxtQkFBQTtFQUNBLFlBQUE7RUFDQSxXQUFBO0VBQ0EseUJBbE1ZO0VBbU1aLGtCQUFBO0VBQ0Esb0JBQUE7RUFBQSxvQkFBQTtFQUFBLGFBQUE7RUFDQSx3QkFBQTtNQUFBLHFCQUFBO1VBQUEsdUJBQUE7RUFDQSx5QkFBQTtNQUFBLHNCQUFBO1VBQUEsbUJBQUE7QUMzQ0o7QURuSkM7RUFvTEU7SUFZRSxrQkFBQTtFQ3pDSDtBQUNGO0FEbEpDO0VBOEtFO0lBZUUsa0JBQUE7RUN2Q0g7QUFDRjtBRGpKQztFQXdLRTtJQWtCRSxtQkFBQTtFQ3JDSDtBQUNGO0FEd0NHO0VBQ0MseUJBQUE7RUFDQSxvQkFBQTtFQUFBLG9CQUFBO0VBQUEsYUFBQTtFQUNBLHdCQUFBO01BQUEscUJBQUE7VUFBQSx1QkFBQTtFQUNBLHlCQUFBO01BQUEsc0JBQUE7VUFBQSxtQkFBQTtFQUNBLGdCQUFBO0VBQ0EsYUFBQTtFQUNBLG1CQUFBO0VBQ0EseURBQUE7VUFBQSxpREFBQTtBQ3RDSjtBRDVLQztFQTBNRTtJQVVFLFVBQUE7RUNwQ0g7QUFDRjtBRDNLQztFQW9NRTtJQWFFLFVBQUE7RUNsQ0g7QUFDRjtBRG9DSTtFQUNDLGFBQUE7RUFDQSxjQXBPVztBQ2tNaEI7QURxQ0k7RUFDQyxpQkFBQTtBQ25DTDtBRHNDSTtFQUNDLFlBQUE7RUFDQSxtQkFBQTtFQUNBLG1CQUFBO0VBQ0EsWUFBQTtFQUNBLFdBQUE7RUFDQSx5QkFqUFc7RUFrUFgsa0JBQUE7RUFDQSxvQkFBQTtFQUFBLG9CQUFBO0VBQUEsYUFBQTtFQUNBLHdCQUFBO01BQUEscUJBQUE7VUFBQSx1QkFBQTtFQUNBLHlCQUFBO01BQUEsc0JBQUE7VUFBQSxtQkFBQTtBQ3BDTDtBRHpNQztFQW1PRztJQWFFLGtCQUFBO0VDbkNKO0FBQ0Y7QUR4TUM7RUE2Tkc7SUFnQkUsa0JBQUE7RUNqQ0o7QUFDRjtBRHZNQztFQXVORztJQW1CRSxtQkFBQTtFQy9CSjtBQUNGOztBRHNDQTtFQUNDLGNBQUE7QUNuQ0Q7QUQ1TkM7RUFrUUM7SUFFRSxvQkFBQTtJQUFBLG9CQUFBO0lBQUEsYUFBQTtJQUNBLG1CQUFBO1FBQUEsZUFBQTtJQUNBLDhCQUFBO0lBQUEsNkJBQUE7UUFBQSx1QkFBQTtZQUFBLG1CQUFBO0lBQ0EsOEJBQUE7UUFBQSwyQkFBQTtZQUFBLDZCQUFBO0VDcENGO0FBQ0Y7QURxQ0c7RUFDQyxvQkFBQTtFQUFBLG9CQUFBO0VBQUEsYUFBQTtFQUNBLDRCQUFBO0VBQUEsNkJBQUE7TUFBQSwwQkFBQTtVQUFBLHNCQUFBO0VBQ0EsbUJBQUE7RUFDQSxtQ0FBQTtVQUFBLDJCQUFBO0VBQ0EsZ0JBQUE7RUFDQSxrQkFBQTtBQ25DSjtBRDVPQztFQXlRRTtJQVNFLFVBQUE7RUNsQ0g7QUFDRjtBRG9DSTtFQUNDLG9CQUFBO0tBQUEsaUJBQUE7RUFDQSxhQUFBO0VBQ0EsNEJBQUE7QUNsQ0w7QURxQ0k7RUFDQyxrQkFBQTtFQUNBLFFBQUE7RUFDQSxXQUFBO0VBQ0EsY0FBQTtFQUNBLHlCQXRTWTtFQXVTWixpQkFBQTtFQUNBLGtCQUFBO0FDbkNMO0FEdUNHO0VBQ0Msb0JBQUE7RUFBQSxvQkFBQTtFQUFBLGFBQUE7RUFDQSx5QkFBQTtNQUFBLHNCQUFBO1VBQUEsOEJBQUE7RUFDQSxZQUFBO0FDckNKO0FEdUNJO0VBQ0Msb0JBQUE7RUFBQSxvQkFBQTtFQUFBLGFBQUE7RUFDQSw0QkFBQTtFQUFBLDZCQUFBO01BQUEsMEJBQUE7VUFBQSxzQkFBQTtFQUNBLGdCQUFBO0VBQ0EsZ0JBQUE7QUNyQ0w7QUR1Q0s7RUFDQyxlQUFBO0FDckNOO0FEeUNJO0VBQ0Msb0JBQUE7RUFBQSxvQkFBQTtFQUFBLGFBQUE7RUFDQSx3QkFBQTtNQUFBLHFCQUFBO1VBQUEsdUJBQUE7RUFDQSx5QkFBQTtNQUFBLHNCQUFBO1VBQUEsbUJBQUE7RUFDQSxlQUFBO0VBQ0EsYUFBQTtBQ3ZDTDs7QUQ4Q0E7RUFDQyx5QkFBQTtFQUNBLFNBQUE7RUFDQSxtQkFBQTtBQzNDRDtBRDZDQztFQUNDLGtCQUFBO0FDM0NGO0FENkNFO0VBQ0MsWUFBQTtFQUNBLGlDQWhWVTtFQWlWVixTQUFBO0VBQ0EsZUFBQTtBQzNDSDtBRCtDQztFQUNDLGlCQUFBO0VBQ0EsU0FBQTtFQUNBLGlCQUFBO0FDN0NGO0FEK0NFO0VBQ0MsWUFBQTtBQzdDSDtBRCtDRztFQUNDLHFCQUFBO0VBQ0EsZUFBQTtBQzdDSiIsImZpbGUiOiJpbmRleC5jc3MifQ== */