@-webkit-keyframes progress-bar {
  0% {
    z-index: 3;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    opacity: 1;
  }
  17% {
    -webkit-transform: scaleX(0.18);
            transform: scaleX(0.18);
  }
  24% {
    -webkit-transform: scaleX(0.4);
            transform: scaleX(0.4);
  }
  46% {
    -webkit-transform: scaleX(0.81);
            transform: scaleX(0.81);
  }
  85% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    opacity: 0;
    z-index: -3;
  }
}
@keyframes progress-bar {
  0% {
    z-index: 3;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    opacity: 1;
  }
  17% {
    -webkit-transform: scaleX(0.18);
            transform: scaleX(0.18);
  }
  24% {
    -webkit-transform: scaleX(0.4);
            transform: scaleX(0.4);
  }
  46% {
    -webkit-transform: scaleX(0.81);
            transform: scaleX(0.81);
  }
  85% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    opacity: 0;
    z-index: -3;
  }
}
@-webkit-keyframes progress-bar--bg {
  0% {
    z-index: 3;
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -3;
  }
}
@keyframes progress-bar--bg {
  0% {
    z-index: 3;
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -3;
  }
}
html,
body {
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 1440px) {
  html,
body {
    max-width: 1440px;
    margin: auto;
  }
}

h1 {
  font-size: 20px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

h3 {
  font-size: 16px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

p {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: black;
}

li {
  text-decoration: none;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: black;
  list-style-type: none;
}

.loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75%;
  position: fixed;
  top: 25%;
  left: 13%;
  z-index: 2;
}
@media screen and (min-width: 540px) {
  .loader {
    left: 30%;
  }
}
@media screen and (min-width: 1440px) {
  .loader {
    left: 37.5%;
  }
}
.loader p {
  width: 50%;
  opacity: 0;
  text-align: center;
  font-family: "Shrikhand", cursive;
  font-size: 20px;
  padding: 20px;
  color: white;
  border-radius: 50px;
  background: -o-linear-gradient(93deg, #9356dc 5%, #ff79da 100%, #eaeaea 100%);
  background: linear-gradient(357deg, #9356dc 5%, #ff79da 100%, #eaeaea 100%);
  -webkit-animation: progress-bar--bg 1500ms;
          animation: progress-bar--bg 1500ms;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}
@media screen and (min-width: 540px) {
  .loader {
    width: 40%;
  }
}
@media screen and (min-width: 1440px) {
  .loader {
    width: 25%;
  }
}
.loader .progress {
  background: rgba(223, 223, 223, 0.602);
  border-radius: 50px;
  opacity: 0;
  -webkit-animation: progress-bar--bg 1500ms;
          animation: progress-bar--bg 1500ms;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  width: 100%;
}
.loader .progress__bar {
  border-radius: 50px;
  background: #9356dc;
  padding: 20px;
  opacity: 0;
  -webkit-animation: progress-bar 1500ms;
          animation: progress-bar 1500ms;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
}

header #logo_header {
  padding: 15px;
  text-align: center;
}

.main__container .form {
  height: 50px;
  background-color: #eaeaea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #eaeaea;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(89%, #eaeaea), color-stop(100%, #909090), to(#eaeaea));
  background: -o-linear-gradient(bottom, #eaeaea 89%, #909090 100%, #eaeaea 100%);
  background: linear-gradient(0deg, #eaeaea 89%, #909090 100%, #eaeaea 100%);
}
.main__container .form form {
  color: #353535;
}
.main__container .form form input {
  background-color: #eaeaea;
  padding-left: 15px;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 15px;
}
.main__container .description {
  background-color: #f6f6f6;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  height: 300px;
}
@media screen and (min-width: 540px) {
  .main__container .description {
    height: 200px;
  }
}
.main__container .description h1 {
  padding: 0 80px;
}
.main__container .description p {
  padding: 0 35px;
  color: #353535;
  margin-top: 20px;
  margin-bottom: 70px;
}
.main__container .description .button {
  background: -o-linear-gradient(93deg, #9356dc 5%, #ff79da 100%, #eaeaea 100%);
  background: linear-gradient(357deg, #9356dc 5%, #ff79da 100%, #eaeaea 100%);
  padding: 20px;
  border-radius: 50px;
  color: white;
  margin-top: 35px;
  -webkit-box-shadow: 5px 4px 17px -8px rgba(0, 0, 0, 0.77);
          box-shadow: 5px 4px 17px -8px rgba(0, 0, 0, 0.77);
  z-index: 2;
}
.main__container .description .button:hover {
  background: -o-linear-gradient(93deg, #a16be0 5%, #ff93e1 100%, #f7f7f7 100%);
  background: linear-gradient(357deg, #a16be0 5%, #ff93e1 100%, #f7f7f7 100%);
  -webkit-box-shadow: 5px 4px 30px -8px #000000;
          box-shadow: 5px 4px 30px -8px #000000;
}

.fonctionnement {
  margin: 0px 20px;
}
@media screen and (min-width: 540px) {
  .fonctionnement {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 540px) {
  .fonctionnement__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
.fonctionnement__container__description {
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 25px 0px;
  padding: 10px;
  border-radius: 50px;
  -webkit-box-shadow: 5px 4px 17px -8px rgba(0, 0, 0, 0.77);
          box-shadow: 5px 4px 17px -8px rgba(0, 0, 0, 0.77);
}
@media screen and (min-width: 540px) {
  .fonctionnement__container__description {
    width: 35%;
  }
}
@media screen and (min-width: 1024px) {
  .fonctionnement__container__description {
    width: 25%;
  }
}
.fonctionnement__container__description .fas {
  padding: 15px;
  color: #7e7e7e;
}
.fonctionnement__container__description p {
  font-weight: bold;
}
.fonctionnement__container__description .number {
  color: white;
  font-weight: normal;
  margin-left: -15px;
  height: 25px;
  width: 25px;
  background-color: #9356dc;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.fonctionnement__container__description--violet {
  background-color: #f5edff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 25px 0px;
  padding: 10px;
  border-radius: 50px;
  -webkit-box-shadow: 5px 4px 17px -8px rgba(0, 0, 0, 0.77);
          box-shadow: 5px 4px 17px -8px rgba(0, 0, 0, 0.77);
}
@media screen and (min-width: 540px) {
  .fonctionnement__container__description--violet {
    width: 35%;
  }
}
@media screen and (min-width: 1024px) {
  .fonctionnement__container__description--violet {
    width: 25%;
  }
}
.fonctionnement__container__description--violet .fas {
  padding: 15px;
  color: #9356dc;
}
.fonctionnement__container__description--violet p {
  font-weight: bold;
}
.fonctionnement__container__description--violet .number {
  color: white;
  font-weight: normal;
  margin-left: -15px;
  height: 25px;
  width: 25px;
  background-color: #9356dc;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#restaurants {
  margin: 0 20px;
}
@media screen and (min-width: 540px) {
  #restaurants .restaurants__container .restaurants {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
#restaurants .restaurants__container .restaurants .restaurants__container2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 7px #c1c1c1;
          box-shadow: 0 0 7px #c1c1c1;
  margin: 20px 0px;
  position: relative;
}
@media screen and (min-width: 540px) {
  #restaurants .restaurants__container .restaurants .restaurants__container2 {
    width: 45%;
  }
}
#restaurants .restaurants__container .restaurants .restaurants__container2 img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 175px;
  width: 100%;
  border-radius: 20px 20px 0 0;
}
#restaurants .restaurants__container .restaurants .restaurants__container2 .new_topright {
  position: absolute;
  top: 8px;
  right: 16px;
  color: #008766;
  background-color: #99e2d0;
  padding: 8px 15px;
  border-radius: 5px;
}
#restaurants .restaurants__container .restaurants .restaurants__container2 .heart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 25px;
  padding: 25px;
  position: relative;
}
#restaurants .restaurants__container .restaurants .restaurants__container2 .heart .far {
  position: absolute;
  top: 25px;
  right: 0;
  bottom: 0;
  left: 0px;
  z-index: -1;
}
#restaurants .restaurants__container .restaurants .restaurants__container2 .heart .fas {
  color: #9356dc;
  opacity: 0;
  position: absolute;
  top: 25px;
  right: 0;
  bottom: 0;
  left: 0px;
  z-index: 1;
  -webkit-transition: opacity 250ms;
  -o-transition: opacity 250ms;
  transition: opacity 250ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
#restaurants .restaurants__container .restaurants .restaurants__container2 .heart .fas:active {
  opacity: 1;
}
#restaurants .restaurants__container .restaurants__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 75px;
}
#restaurants .restaurants__container .restaurants__description__texte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5px 15px;
  line-height: 10px;
}
#restaurants .restaurants__container .restaurants__description__texte p {
  font-size: 16px;
}

footer {
  background-color: #353535;
  margin: 0;
  padding: 0 0 20px 0;
}
footer #logo_footer {
  padding: 15px 15px;
}
footer #logo_footer h3 {
  color: white;
  font-family: "Shrikhand", cursive;
  margin: 0;
  font-size: 20px;
}
footer ul {
  padding: 0px 15px;
  margin: 0;
  line-height: 25px;
}
footer ul a {
  color: white;
}
footer ul a .fas {
  padding: 0px 10px 0 0;
  font-size: 10px;
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uLy4uLy4uL3Nhc3MvdXRpbHMvX2tleWZyYW1lc2xvYWRlci5zY3NzIiwiLi4vaW5kZXguY3NzIiwiLi4vLi4vLi4vc2Fzcy9iYXNlL19iYXNlaW5kZXguc2NzcyIsIi4uLy4uLy4uL3Nhc3MvdXRpbHMvX21peGluLnNjc3MiLCIuLi8uLi8uLi9zYXNzL3V0aWxzL192YXJpYWJsZXMuc2NzcyIsIi4uLy4uLy4uL3Nhc3MvbGF5b3V0cy9fbG9hZGVyLnNjc3MiLCIuLi8uLi8uLi9zYXNzL2xheW91dHMvX2hlYWRlcmluZGV4LnNjc3MiLCIuLi8uLi8uLi9zYXNzL3BhZ2VzL19pbmRleC5zY3NzIiwiLi4vLi4vLi4vc2Fzcy9sYXlvdXRzL19mb290ZXIuc2NzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQTtFQUNDO0lBQ0MsVUFBQTtJQUNBLDRCQUFBO1lBQUEsb0JBQUE7SUFDQSxVQUFBO0VDQ0E7RURDRDtJQUNDLCtCQUFBO1lBQUEsdUJBQUE7RUNDQTtFRENEO0lBQ0MsOEJBQUE7WUFBQSxzQkFBQTtFQ0NBO0VEQ0Q7SUFDQywrQkFBQTtZQUFBLHVCQUFBO0VDQ0E7RURDRDtJQUNDLFVBQUE7RUNDQTtFRENEO0lBQ0MsNEJBQUE7WUFBQSxvQkFBQTtJQUNBLFVBQUE7SUFDQSxXQUFBO0VDQ0E7QUFDRjtBRHZCQTtFQUNDO0lBQ0MsVUFBQTtJQUNBLDRCQUFBO1lBQUEsb0JBQUE7SUFDQSxVQUFBO0VDQ0E7RURDRDtJQUNDLCtCQUFBO1lBQUEsdUJBQUE7RUNDQTtFRENEO0lBQ0MsOEJBQUE7WUFBQSxzQkFBQTtFQ0NBO0VEQ0Q7SUFDQywrQkFBQTtZQUFBLHVCQUFBO0VDQ0E7RURDRDtJQUNDLFVBQUE7RUNDQTtFRENEO0lBQ0MsNEJBQUE7WUFBQSxvQkFBQTtJQUNBLFVBQUE7SUFDQSxXQUFBO0VDQ0E7QUFDRjtBREVBO0VBQ0M7SUFDQyxVQUFBO0lBQ0EsVUFBQTtFQ0FBO0VERUQ7SUFDQyxVQUFBO0VDQUE7RURFRDtJQUNDLFVBQUE7SUFDQSxXQUFBO0VDQUE7QUFDRjtBRFhBO0VBQ0M7SUFDQyxVQUFBO0lBQ0EsVUFBQTtFQ0FBO0VERUQ7SUFDQyxVQUFBO0VDQUE7RURFRDtJQUNDLFVBQUE7SUFDQSxXQUFBO0VDQUE7QUFDRjtBQ3BDQTs7RUFFQyxTQUFBO0VBQ0EsVUFBQTtBRHNDRDtBRTVCQztFRGJEOztJQUtFLGlCQUFBO0lBQ0EsWUFBQTtFRHlDQTtBQUNGOztBQ3RDQTtFQUNDLGVBQUE7RUFDQSxpQkFBQTtFQUNBLGlDRVJXO0VGU1gsa0JBQUE7QUR5Q0Q7O0FDdENBO0VBQ0MsZUFBQTtFQUNBLGlCQUFBO0VBQ0EsaUNFZlc7QUh3RFo7O0FDdENBO0VBQ0MsZUFBQTtFQUNBLGlCQUFBO0VBQ0EsaUNFckJXO0FIOERaOztBQ3RDQTtFQUNDLGVBQUE7RUFDQSxpQ0UxQlc7QUhtRVo7O0FDdENBO0VBQ0MscUJBQUE7RUFDQSxlQUFBO0VBQ0EsaUNFaENXO0VGaUNYLFlBQUE7QUR5Q0Q7O0FDdENBO0VBQ0MscUJBQUE7RUFDQSxlQUFBO0VBQ0EsaUNFdkNXO0VGd0NYLFlBQUE7RUFDQSxxQkFBQTtBRHlDRDs7QUl2RkE7RUFDQyxvQkFBQTtFQUFBLG9CQUFBO0VBQUEsYUFBQTtFQUNBLDRCQUFBO0VBQUEsNkJBQUE7TUFBQSwwQkFBQTtVQUFBLHNCQUFBO0VBQ0Esd0JBQUE7TUFBQSxxQkFBQTtVQUFBLHVCQUFBO0VBQ0EseUJBQUE7TUFBQSxzQkFBQTtVQUFBLG1CQUFBO0VBQ0EsVUFBQTtFQUNBLGVBQUE7RUFDQSxRQUFBO0VBQ0EsU0FBQTtFQUNBLFVBQUE7QUowRkQ7QUVsR0M7RUVERDtJQVdFLFNBQUE7RUo0RkE7QUFDRjtBRTNGQztFRWJEO0lBY0UsV0FBQTtFSjhGQTtBQUNGO0FJN0ZDO0VBQ0MsVUFBQTtFQUNBLFVBQUE7RUFDQSxrQkFBQTtFQUNBLGlDRGhCVztFQ2lCWCxlQUFBO0VBQ0EsYUFBQTtFQUNBLFlBQUE7RUFDQSxtQkFBQTtFQUNBLDZFQUFBO0VBQUEsMkVBQUE7RUFNQSwwQ0FBQTtVQUFBLGtDQUFBO0VBQ0Esc0NBQUE7VUFBQSw4QkFBQTtBSjBGRjtBRXpIQztFRUREO0lBbUNFLFVBQUE7RUoyRkE7QUFDRjtBRWxIQztFRWJEO0lBc0NFLFVBQUE7RUo2RkE7QUFDRjtBSTVGQztFQUNDLHNDQUFBO0VBQ0EsbUJBQUE7RUFDQSxVQUFBO0VBQ0EsMENBQUE7VUFBQSxrQ0FBQTtFQUNBLHNDQUFBO1VBQUEsOEJBQUE7RUFDQSxXQUFBO0FKOEZGO0FJN0ZFO0VBQ0MsbUJBQUE7RUFDQSxtQkRqRGE7RUNrRGIsYUFBQTtFQUNBLFVBQUE7RUFDQSxzQ0FBQTtVQUFBLDhCQUFBO0VBQ0Esc0NBQUE7VUFBQSw4QkFBQTtFQUNBLDhCQUFBO01BQUEsMEJBQUE7VUFBQSxzQkFBQTtBSitGSDs7QUtwSkM7RUFDQyxhQUFBO0VBQ0Esa0JBQUE7QUx1SkY7O0FNeEpFO0VBQ0MsWUFBQTtFQUNBLHlCQUFBO0VBQ0Esb0JBQUE7RUFBQSxvQkFBQTtFQUFBLGFBQUE7RUFDQSx3QkFBQTtNQUFBLHFCQUFBO1VBQUEsdUJBQUE7RUFDQSx5QkFBQTtNQUFBLHNCQUFBO1VBQUEsbUJBQUE7RUFDQSxtQkFBQTtFQUNBLDZIQUFBO0VBQUEsK0VBQUE7RUFBQSwwRUFBQTtBTjJKSDtBTXBKRztFQUNDLGNBQUE7QU5zSko7QU1wSkk7RUFDQyx5QkFBQTtFQUNBLGtCQUFBO0VBQ0EsWUFBQTtFQUNBLGlDSGxCTztFR21CUCxpQkFBQTtFQUNBLGVBQUE7QU5zSkw7QU1qSkU7RUFDQyx5QkFBQTtFQUVBLGtCQUFBO0VBQ0EsaUJBQUE7RUFDQSxvQkFBQTtFQUNBLGFBQUE7QU5rSkg7QUVyTEM7RUk2QkM7SUFRRSxhQUFBO0VOb0pGO0FBQ0Y7QU1sSkc7RUFDQyxlQUFBO0FOb0pKO0FNakpHO0VBQ0MsZUFBQTtFQUNBLGNBQUE7RUFDQSxnQkFBQTtFQUNBLG1CQUFBO0FObUpKO0FNaEpHO0VBQ0MsNkVBQUE7RUFBQSwyRUFBQTtFQU1BLGFBQUE7RUFDQSxtQkFBQTtFQUNBLFlBQUE7RUFDQSxnQkFBQTtFQUNBLHlEQUFBO1VBQUEsaURBQUE7RUFDQSxVQUFBO0FONklKO0FNM0lJO0VBQ0MsNkVBQUE7RUFBQSwyRUFBQTtFQU1BLDZDQUFBO1VBQUEscUNBQUE7QU53SUw7O0FNaklBO0VBQ0MsZ0JBQUE7QU5vSUQ7QUVwTkM7RUkrRUQ7SUFHRSxvQkFBQTtJQUFBLG9CQUFBO0lBQUEsYUFBQTtJQUNBLDRCQUFBO0lBQUEsNkJBQUE7UUFBQSwwQkFBQTtZQUFBLHNCQUFBO0VOc0lBO0FBQ0Y7QUUxTkM7RUlzRkE7SUFFRSxvQkFBQTtJQUFBLG9CQUFBO0lBQUEsYUFBQTtJQUNBLG1CQUFBO1FBQUEsZUFBQTtJQUNBLHlCQUFBO1FBQUEsNkJBQUE7RU5zSUQ7QUFDRjtBTXJJRTtFQUNDLHlCQUFBO0VBQ0Esb0JBQUE7RUFBQSxvQkFBQTtFQUFBLGFBQUE7RUFDQSx5QkFBQTtNQUFBLHNCQUFBO1VBQUEsbUJBQUE7RUFDQSxnQkFBQTtFQUNBLGFBQUE7RUFDQSxtQkFBQTtFQUNBLHlEQUFBO1VBQUEsaURBQUE7QU51SUg7QUUxT0M7RUk0RkM7SUFTRSxVQUFBO0VOeUlGO0FBQ0Y7QUV6T0M7RUlzRkM7SUFZRSxVQUFBO0VOMklGO0FBQ0Y7QU16SUc7RUFDQyxhQUFBO0VBQ0EsY0FBQTtBTjJJSjtBTXhJRztFQUNDLGlCQUFBO0FOMElKO0FNdklHO0VBQ0MsWUFBQTtFQUNBLG1CQUFBO0VBQ0Esa0JBQUE7RUFDQSxZQUFBO0VBQ0EsV0FBQTtFQUNBLHlCSDNIWTtFRzRIWixrQkFBQTtFQUNBLG9CQUFBO0VBQUEsb0JBQUE7RUFBQSxhQUFBO0VBQ0Esd0JBQUE7TUFBQSxxQkFBQTtVQUFBLHVCQUFBO0VBQ0EseUJBQUE7TUFBQSxzQkFBQTtVQUFBLG1CQUFBO0FOeUlKO0FNdElHO0VBQ0MseUJBQUE7RUFDQSxvQkFBQTtFQUFBLG9CQUFBO0VBQUEsYUFBQTtFQUNBLHlCQUFBO01BQUEsc0JBQUE7VUFBQSxtQkFBQTtFQUNBLGdCQUFBO0VBQ0EsYUFBQTtFQUNBLG1CQUFBO0VBQ0EseURBQUE7VUFBQSxpREFBQTtBTndJSjtBRWhSQztFSWlJRTtJQVNFLFVBQUE7RU4wSUg7QUFDRjtBRS9RQztFSTJIRTtJQVlFLFVBQUE7RU40SUg7QUFDRjtBTTFJSTtFQUNDLGFBQUE7RUFDQSxjSG5KVztBSCtSaEI7QU16SUk7RUFDQyxpQkFBQTtBTjJJTDtBTXhJSTtFQUNDLFlBQUE7RUFDQSxtQkFBQTtFQUNBLGtCQUFBO0VBQ0EsWUFBQTtFQUNBLFdBQUE7RUFDQSx5QkhoS1c7RUdpS1gsa0JBQUE7RUFDQSxvQkFBQTtFQUFBLG9CQUFBO0VBQUEsYUFBQTtFQUNBLHdCQUFBO01BQUEscUJBQUE7VUFBQSx1QkFBQTtFQUNBLHlCQUFBO01BQUEsc0JBQUE7VUFBQSxtQkFBQTtBTjBJTDs7QU1uSUE7RUFDQyxjQUFBO0FOc0lEO0FFalRDO0VJOEtDO0lBRUUsb0JBQUE7SUFBQSxvQkFBQTtJQUFBLGFBQUE7SUFDQSxtQkFBQTtRQUFBLGVBQUE7SUFDQSw4QkFBQTtJQUFBLDZCQUFBO1FBQUEsdUJBQUE7WUFBQSxtQkFBQTtJQUNBLDhCQUFBO1FBQUEsMkJBQUE7WUFBQSw2QkFBQTtFTnFJRjtBQUNGO0FNcElHO0VBQ0Msb0JBQUE7RUFBQSxvQkFBQTtFQUFBLGFBQUE7RUFDQSw0QkFBQTtFQUFBLDZCQUFBO01BQUEsMEJBQUE7VUFBQSxzQkFBQTtFQUNBLG1CQUFBO0VBQ0EsbUNBQUE7VUFBQSwyQkFBQTtFQUNBLGdCQUFBO0VBQ0Esa0JBQUE7QU5zSUo7QUVqVUM7RUlxTEU7SUFTRSxVQUFBO0VOdUlIO0FBQ0Y7QU1ySUk7RUFDQyxvQkFBQTtLQUFBLGlCQUFBO0VBQ0EsYUFBQTtFQUNBLFdBQUE7RUFDQSw0QkFBQTtBTnVJTDtBTXBJSTtFQUNDLGtCQUFBO0VBQ0EsUUFBQTtFQUNBLFdBQUE7RUFDQSxjQUFBO0VBQ0EseUJINU1ZO0VHNk1aLGlCQUFBO0VBQ0Esa0JBQUE7QU5zSUw7QU1wSUk7RUFDQyxvQkFBQTtFQUFBLG9CQUFBO0VBQUEsYUFBQTtFQUNBLHdCQUFBO01BQUEscUJBQUE7VUFBQSx1QkFBQTtFQUNBLHlCQUFBO01BQUEsc0JBQUE7VUFBQSxtQkFBQTtFQUNBLGVBQUE7RUFDQSxhQUFBO0VBQ0Esa0JBQUE7QU5zSUw7QU1wSUs7RUFDQyxrQkFBQTtFQUNBLFNBQUE7RUFDQSxRQUFBO0VBQ0EsU0FBQTtFQUNBLFNBQUE7RUFDQSxXQUFBO0FOc0lOO0FNcElLO0VBQ0MsY0huT1U7RUdvT1YsVUFBQTtFQUNBLGtCQUFBO0VBQ0EsU0FBQTtFQUNBLFFBQUE7RUFDQSxTQUFBO0VBQ0EsU0FBQTtFQUNBLFVBQUE7RUFDQSxpQ0FBQTtFQUFBLDRCQUFBO0VBQUEseUJBQUE7RUFDQSxxQ0FBQTtVQUFBLDZCQUFBO0FOc0lOO0FNcklNO0VBQ0MsVUFBQTtBTnVJUDtBTWpJRztFQUNDLG9CQUFBO0VBQUEsb0JBQUE7RUFBQSxhQUFBO0VBQ0EseUJBQUE7TUFBQSxzQkFBQTtVQUFBLDhCQUFBO0VBQ0EsWUFBQTtBTm1JSjtBTWpJSTtFQUNDLG9CQUFBO0VBQUEsb0JBQUE7RUFBQSxhQUFBO0VBQ0EsNEJBQUE7RUFBQSw2QkFBQTtNQUFBLDBCQUFBO1VBQUEsc0JBQUE7RUFDQSxnQkFBQTtFQUNBLGlCQUFBO0FObUlMO0FNaklLO0VBQ0MsZUFBQTtBTm1JTjs7QU9uWUE7RUFDQyx5QkFBQTtFQUNBLFNBQUE7RUFDQSxtQkFBQTtBUHNZRDtBT3BZQztFQUNDLGtCQUFBO0FQc1lGO0FPcFlFO0VBQ0MsWUFBQTtFQUNBLGlDSk5VO0VJT1YsU0FBQTtFQUNBLGVBQUE7QVBzWUg7QU9sWUM7RUFDQyxpQkFBQTtFQUNBLFNBQUE7RUFDQSxpQkFBQTtBUG9ZRjtBT2xZRTtFQUNDLFlBQUE7QVBvWUg7QU9sWUc7RUFDQyxxQkFBQTtFQUNBLGVBQUE7QVBvWUoiLCJmaWxlIjoiaW5kZXguY3NzIn0= */