@-webkit-keyframes progress-bar {
  0% {
    z-index: 3;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    opacity: 1;
  }
  17% {
    -webkit-transform: scaleX(0.18);
            transform: scaleX(0.18);
  }
  24% {
    -webkit-transform: scaleX(0.4);
            transform: scaleX(0.4);
  }
  46% {
    -webkit-transform: scaleX(0.81);
            transform: scaleX(0.81);
  }
  85% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    opacity: 0;
    z-index: -3;
  }
}
@keyframes progress-bar {
  0% {
    z-index: 3;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    opacity: 1;
  }
  17% {
    -webkit-transform: scaleX(0.18);
            transform: scaleX(0.18);
  }
  24% {
    -webkit-transform: scaleX(0.4);
            transform: scaleX(0.4);
  }
  46% {
    -webkit-transform: scaleX(0.81);
            transform: scaleX(0.81);
  }
  85% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    opacity: 0;
    z-index: -3;
  }
}
@-webkit-keyframes progress-bar--bg {
  0% {
    z-index: 3;
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -3;
  }
}
@keyframes progress-bar--bg {
  0% {
    z-index: 3;
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -3;
  }
}
@-webkit-keyframes menu_anim {
  from {
    -webkit-transform: translate(0, 20px);
            transform: translate(0, 20px);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes menu_anim {
  from {
    -webkit-transform: translate(0, 20px);
            transform: translate(0, 20px);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}
@-webkit-keyframes checkbox-rotation {
  from {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@keyframes checkbox-rotation {
  from {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@-webkit-keyframes checkbox-translation {
  from {
    margin-right: -70px;
  }
  to {
    margin-right: 0px;
  }
}
@keyframes checkbox-translation {
  from {
    margin-right: -70px;
  }
  to {
    margin-right: 0px;
  }
}
@-webkit-keyframes description_p_width {
  from {
    width: 240px;
  }
  to {
    width: 200px;
  }
}
@keyframes description_p_width {
  from {
    width: 240px;
  }
  to {
    width: 200px;
  }
}
html,
body {
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 1440px) {
  html,
body {
    max-width: 1440px;
    margin: auto;
  }
}

h1 {
  font-size: 25px;
  font-weight: bold;
  font-family: "Shrikhand", cursive;
  text-align: center;
}

h2 {
  font-size: 15px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  color: #4c4c4c;
}

h3 {
  font-size: 15px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

p {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: black;
}

li {
  text-decoration: none;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: black;
  list-style-type: none;
}

.loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75%;
  position: fixed;
  top: 25%;
  left: 13%;
  z-index: 2;
}
@media screen and (min-width: 540px) {
  .loader {
    left: 30%;
  }
}
@media screen and (min-width: 1440px) {
  .loader {
    left: 37.5%;
  }
}
.loader p {
  width: 50%;
  opacity: 0;
  text-align: center;
  font-family: "Shrikhand", cursive;
  font-size: 20px;
  padding: 20px;
  color: white;
  border-radius: 50px;
  background: -o-linear-gradient(93deg, #9356dc 5%, #ff79da 100%, #eaeaea 100%);
  background: linear-gradient(357deg, #9356dc 5%, #ff79da 100%, #eaeaea 100%);
  -webkit-animation: progress-bar--bg 1500ms;
          animation: progress-bar--bg 1500ms;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}
@media screen and (min-width: 540px) {
  .loader {
    width: 40%;
  }
}
@media screen and (min-width: 1440px) {
  .loader {
    width: 25%;
  }
}
.loader .progress {
  background: rgba(223, 223, 223, 0.602);
  border-radius: 50px;
  opacity: 0;
  -webkit-animation: progress-bar--bg 1500ms;
          animation: progress-bar--bg 1500ms;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  width: 100%;
}
.loader .progress__bar {
  border-radius: 50px;
  background: #9356dc;
  padding: 20px;
  opacity: 0;
  -webkit-animation: progress-bar 1500ms;
          animation: progress-bar 1500ms;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header a {
  padding: 25px;
  font-size: 17px;
}
header #logo_header {
  padding-top: 15px;
}
header .empty {
  width: 64px;
}

main img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 265px;
  width: 100%;
}
@media screen and (min-width: 540px) {
  main img {
    width: 100%;
  }
}
main .menu {
  padding: 40px 30px;
  border-radius: 40px 40px 0 0;
  margin-top: -40px;
  position: relative;
  background-color: #f6f6f6;
}
main .menu .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
main .menu .name h1 {
  margin: 0;
}
main .menu .name .heart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 25px;
  padding: 25px;
  position: relative;
}
main .menu .name .heart .far {
  position: absolute;
  top: 10px;
  right: 0;
  bottom: 0;
  left: 10px;
  z-index: 0;
}
main .menu .name .heart .fas {
  color: #9356dc;
  opacity: 0;
  position: absolute;
  top: 10px;
  right: 0;
  bottom: 0;
  left: 10px;
  z-index: 1;
  -webkit-transition: opacity 250ms;
  -o-transition: opacity 250ms;
  transition: opacity 250ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
main .menu .name .heart .fas:active {
  opacity: 1;
}
main .menu__container .title .underline {
  width: 40px;
  height: 3px;
  background-color: #99e2d0;
  margin-top: -5px;
}
main .menu__container .container_animation {
  -webkit-transform-origin: top;
      -ms-transform-origin: top;
          transform-origin: top;
  -webkit-animation: menu_anim 800ms 1500ms ease-in-out;
          animation: menu_anim 800ms 1500ms ease-in-out;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
main .menu__container .container_animation2 {
  -webkit-transform-origin: top;
      -ms-transform-origin: top;
          transform-origin: top;
  -webkit-animation: menu_anim 800ms 2000ms ease-in-out;
          animation: menu_anim 800ms 2000ms ease-in-out;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
main .menu__container .container_animation3 {
  -webkit-transform-origin: top;
      -ms-transform-origin: top;
          transform-origin: top;
  -webkit-animation: menu_anim 800ms 2500ms ease-in-out;
          animation: menu_anim 800ms 2500ms ease-in-out;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
main .menu__container .block {
  background-color: white;
  -webkit-box-shadow: 0 0 7px #c1c1c1;
          box-shadow: 0 0 7px #c1c1c1;
  border-radius: 20px;
  margin: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 70px;
  overflow: hidden;
}
main .menu__container .block:active .checkbox {
  -webkit-animation: checkbox-translation 800ms ease-in-out;
          animation: checkbox-translation 800ms ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
main .menu__container .block:active .checkbox__icon {
  -webkit-animation: checkbox-rotation 1000ms ease-in-out;
          animation: checkbox-rotation 1000ms ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
main .menu__container .block__menu_description {
  margin-left: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
main .menu__container .block__menu_description:active p {
  -webkit-animation: description_p_width 1000ms ease-in-out;
          animation: description_p_width 1000ms ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
main .menu__container .block__menu_description h3 {
  margin: 15px 0px 5px 5px;
}
main .menu__container .block__menu_description p {
  white-space: nowrap;
  overflow: hidden;
  width: 240px;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  margin: 0 0 5px 5px;
}
@media screen and (min-width: 540px) {
  main .menu__container .block__menu_description p {
    width: 100%;
  }
}
main .menu__container .block__price {
  margin: 35px 10px 0px 0;
  padding-right: 10px;
}
main .menu__container .block__price p {
  margin: 0;
  font-weight: bold;
}
main .menu__container .block .checkbox {
  background: #99e2d0;
  margin-right: -70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
}
main .menu__container .block .checkbox__icon {
  color: white;
  font-size: 20px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
main .menu .button {
  background: #9356dc;
  background: -o-linear-gradient(93deg, #9356dc 5%, #ff79da 100%, #eaeaea 100%);
  background: linear-gradient(357deg, #9356dc 5%, #ff79da 100%, #eaeaea 100%);
  padding: 20px 30px;
  margin: 45px 70px 0 70px;
  border-radius: 50px;
  -webkit-box-shadow: 5px 4px 17px -8px rgba(0, 0, 0, 0.77);
          box-shadow: 5px 4px 17px -8px rgba(0, 0, 0, 0.77);
  text-align: center;
}
main .menu .button:hover {
  background: -o-linear-gradient(93deg, #a16be0 5%, #ff93e1 100%, #f7f7f7 100%);
  background: linear-gradient(357deg, #a16be0 5%, #ff93e1 100%, #f7f7f7 100%);
  -webkit-box-shadow: 5px 4px 30px -8px #000000;
          box-shadow: 5px 4px 30px -8px #000000;
}
@media screen and (min-width: 540px) {
  main .menu .button {
    width: 20%;
    margin-left: 250px;
  }
}
@media screen and (min-width: 1024px) {
  main .menu .button {
    width: 20%;
    margin-left: 350px;
  }
}
@media screen and (min-width: 1440px) {
  main .menu .button {
    width: 20%;
    margin-left: 500px;
  }
}
main .menu .button a {
  padding: 0 20px;
  color: white;
}

footer {
  background-color: #353535;
  margin: 0;
  padding: 0 0 20px 0;
}
footer #logo_footer {
  padding: 15px 15px;
}
footer #logo_footer h3 {
  color: white;
  font-family: "Shrikhand", cursive;
  margin: 0;
  font-size: 20px;
}
footer ul {
  padding: 0px 15px;
  margin: 0;
  line-height: 25px;
}
footer ul a {
  color: white;
}
footer ul a .fas {
  padding: 0px 10px 0 0;
  font-size: 10px;
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uLy4uLy4uL3Nhc3MvdXRpbHMvX2tleWZyYW1lc2xvYWRlci5zY3NzIiwiLi4vcmVzdGF1cmFudC5jc3MiLCIuLi8uLi8uLi9zYXNzL3V0aWxzL19rZXlmcmFtZXNwYWdlcy5zY3NzIiwiLi4vLi4vLi4vc2Fzcy9iYXNlL19iYXNlcGFnZXMuc2NzcyIsIi4uLy4uLy4uL3Nhc3MvdXRpbHMvX21peGluLnNjc3MiLCIuLi8uLi8uLi9zYXNzL3V0aWxzL192YXJpYWJsZXMuc2NzcyIsIi4uLy4uLy4uL3Nhc3MvbGF5b3V0cy9fbG9hZGVyLnNjc3MiLCIuLi8uLi8uLi9zYXNzL2xheW91dHMvX2hlYWRlcnBhZ2VzLnNjc3MiLCIuLi8uLi8uLi9zYXNzL3BhZ2VzL19yZXN0YXVyYW50LnNjc3MiLCIuLi8uLi8uLi9zYXNzL2xheW91dHMvX2Zvb3Rlci5zY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUFBO0VBQ0M7SUFDQyxVQUFBO0lBQ0EsNEJBQUE7WUFBQSxvQkFBQTtJQUNBLFVBQUE7RUNDQTtFRENEO0lBQ0MsK0JBQUE7WUFBQSx1QkFBQTtFQ0NBO0VEQ0Q7SUFDQyw4QkFBQTtZQUFBLHNCQUFBO0VDQ0E7RURDRDtJQUNDLCtCQUFBO1lBQUEsdUJBQUE7RUNDQTtFRENEO0lBQ0MsVUFBQTtFQ0NBO0VEQ0Q7SUFDQyw0QkFBQTtZQUFBLG9CQUFBO0lBQ0EsVUFBQTtJQUNBLFdBQUE7RUNDQTtBQUNGO0FEdkJBO0VBQ0M7SUFDQyxVQUFBO0lBQ0EsNEJBQUE7WUFBQSxvQkFBQTtJQUNBLFVBQUE7RUNDQTtFRENEO0lBQ0MsK0JBQUE7WUFBQSx1QkFBQTtFQ0NBO0VEQ0Q7SUFDQyw4QkFBQTtZQUFBLHNCQUFBO0VDQ0E7RURDRDtJQUNDLCtCQUFBO1lBQUEsdUJBQUE7RUNDQTtFRENEO0lBQ0MsVUFBQTtFQ0NBO0VEQ0Q7SUFDQyw0QkFBQTtZQUFBLG9CQUFBO0lBQ0EsVUFBQTtJQUNBLFdBQUE7RUNDQTtBQUNGO0FERUE7RUFDQztJQUNDLFVBQUE7SUFDQSxVQUFBO0VDQUE7RURFRDtJQUNDLFVBQUE7RUNBQTtFREVEO0lBQ0MsVUFBQTtJQUNBLFdBQUE7RUNBQTtBQUNGO0FEWEE7RUFDQztJQUNDLFVBQUE7SUFDQSxVQUFBO0VDQUE7RURFRDtJQUNDLFVBQUE7RUNBQTtFREVEO0lBQ0MsVUFBQTtJQUNBLFdBQUE7RUNBQTtBQUNGO0FDcENBO0VBQ0M7SUFDQyxxQ0FBQTtZQUFBLDZCQUFBO0lBQ0EsVUFBQTtFRHNDQTtFQ3BDRDtJQUNDLGtDQUFBO1lBQUEsMEJBQUE7SUFDQSxVQUFBO0VEc0NBO0FBQ0Y7QUM5Q0E7RUFDQztJQUNDLHFDQUFBO1lBQUEsNkJBQUE7SUFDQSxVQUFBO0VEc0NBO0VDcENEO0lBQ0Msa0NBQUE7WUFBQSwwQkFBQTtJQUNBLFVBQUE7RURzQ0E7QUFDRjtBQ25DQTtFQUNDO0lBQ0MsaUNBQUE7WUFBQSx5QkFBQTtFRHFDQTtFQ25DRDtJQUNDLCtCQUFBO1lBQUEsdUJBQUE7RURxQ0E7QUFDRjtBQzNDQTtFQUNDO0lBQ0MsaUNBQUE7WUFBQSx5QkFBQTtFRHFDQTtFQ25DRDtJQUNDLCtCQUFBO1lBQUEsdUJBQUE7RURxQ0E7QUFDRjtBQ2xDQTtFQUNDO0lBQ0MsbUJBQUE7RURvQ0E7RUNsQ0Q7SUFDQyxpQkFBQTtFRG9DQTtBQUNGO0FDMUNBO0VBQ0M7SUFDQyxtQkFBQTtFRG9DQTtFQ2xDRDtJQUNDLGlCQUFBO0VEb0NBO0FBQ0Y7QUNqQ0E7RUFDQztJQUNDLFlBQUE7RURtQ0E7RUNqQ0Q7SUFDQyxZQUFBO0VEbUNBO0FBQ0Y7QUN6Q0E7RUFDQztJQUNDLFlBQUE7RURtQ0E7RUNqQ0Q7SUFDQyxZQUFBO0VEbUNBO0FBQ0Y7QUV0RUE7O0VBRUMsU0FBQTtFQUNBLFVBQUE7QUZ3RUQ7QUc5REM7RURiRDs7SUFLRSxpQkFBQTtJQUNBLFlBQUE7RUYyRUE7QUFDRjs7QUV4RUE7RUFDQyxlQUFBO0VBQ0EsaUJBQUE7RUFDQSxpQ0VUWTtFRlVaLGtCQUFBO0FGMkVEOztBRXhFQTtFQUNDLGVBQUE7RUFDQSxpQkFBQTtFQUNBLGlDRWZXO0VGZ0JYLHlCQUFBO0VBQ0EsY0FBQTtBRjJFRDs7QUV4RUE7RUFDQyxlQUFBO0VBQ0EsaUJBQUE7RUFDQSxpQ0V2Qlc7RUZ3QlgsMEJBQUE7S0FBQSx1QkFBQTtBRjJFRDs7QUV4RUE7RUFDQyxlQUFBO0VBQ0EsaUNFN0JXO0FKd0daOztBRXhFQTtFQUNDLHFCQUFBO0VBQ0EsZUFBQTtFQUNBLGlDRW5DVztFRm9DWCxZQUFBO0FGMkVEOztBRXhFQTtFQUNDLHFCQUFBO0VBQ0EsZUFBQTtFQUNBLGlDRTFDVztFRjJDWCxZQUFBO0VBQ0EscUJBQUE7QUYyRUQ7O0FLNUhBO0VBQ0Msb0JBQUE7RUFBQSxvQkFBQTtFQUFBLGFBQUE7RUFDQSw0QkFBQTtFQUFBLDZCQUFBO01BQUEsMEJBQUE7VUFBQSxzQkFBQTtFQUNBLHdCQUFBO01BQUEscUJBQUE7VUFBQSx1QkFBQTtFQUNBLHlCQUFBO01BQUEsc0JBQUE7VUFBQSxtQkFBQTtFQUNBLFVBQUE7RUFDQSxlQUFBO0VBQ0EsUUFBQTtFQUNBLFNBQUE7RUFDQSxVQUFBO0FMK0hEO0FHdklDO0VFREQ7SUFXRSxTQUFBO0VMaUlBO0FBQ0Y7QUdoSUM7RUViRDtJQWNFLFdBQUE7RUxtSUE7QUFDRjtBS2xJQztFQUNDLFVBQUE7RUFDQSxVQUFBO0VBQ0Esa0JBQUE7RUFDQSxpQ0RoQlc7RUNpQlgsZUFBQTtFQUNBLGFBQUE7RUFDQSxZQUFBO0VBQ0EsbUJBQUE7RUFDQSw2RUFBQTtFQUFBLDJFQUFBO0VBTUEsMENBQUE7VUFBQSxrQ0FBQTtFQUNBLHNDQUFBO1VBQUEsOEJBQUE7QUwrSEY7QUc5SkM7RUVERDtJQW1DRSxVQUFBO0VMZ0lBO0FBQ0Y7QUd2SkM7RUViRDtJQXNDRSxVQUFBO0VMa0lBO0FBQ0Y7QUtqSUM7RUFDQyxzQ0FBQTtFQUNBLG1CQUFBO0VBQ0EsVUFBQTtFQUNBLDBDQUFBO1VBQUEsa0NBQUE7RUFDQSxzQ0FBQTtVQUFBLDhCQUFBO0VBQ0EsV0FBQTtBTG1JRjtBS2xJRTtFQUNDLG1CQUFBO0VBQ0EsbUJEakRhO0VDa0RiLGFBQUE7RUFDQSxVQUFBO0VBQ0Esc0NBQUE7VUFBQSw4QkFBQTtFQUNBLHNDQUFBO1VBQUEsOEJBQUE7RUFDQSw4QkFBQTtNQUFBLDBCQUFBO1VBQUEsc0JBQUE7QUxvSUg7O0FNMUxBO0VBQ0Msb0JBQUE7RUFBQSxvQkFBQTtFQUFBLGFBQUE7RUFDQSx5QkFBQTtNQUFBLHNCQUFBO1VBQUEsOEJBQUE7QU42TEQ7QU0zTEM7RUFDQyxhQUFBO0VBQ0EsZUFBQTtBTjZMRjtBTTNMQztFQUNDLGlCQUFBO0FONkxGO0FNM0xDO0VBQ0MsV0FBQTtBTjZMRjs7QU94TUM7RUFDQyxvQkFBQTtLQUFBLGlCQUFBO0VBQ0EsYUFBQTtFQUNBLFdBQUE7QVAyTUY7QUc5TUM7RUlBQTtJQUtFLFdBQUE7RVA2TUQ7QUFDRjtBTzFNQztFQUNDLGtCQUFBO0VBQ0EsNEJBQUE7RUFDQSxpQkFBQTtFQUNBLGtCQUFBO0VBQ0EseUJBQUE7QVA0TUY7QU8xTUU7RUFDQyxvQkFBQTtFQUFBLG9CQUFBO0VBQUEsYUFBQTtFQUNBLHlCQUFBO01BQUEsc0JBQUE7VUFBQSw4QkFBQTtBUDRNSDtBTzNNRztFQUNDLFNBQUE7QVA2TUo7QU8zTUc7RUFDQyxvQkFBQTtFQUFBLG9CQUFBO0VBQUEsYUFBQTtFQUNBLHdCQUFBO01BQUEscUJBQUE7VUFBQSx1QkFBQTtFQUNBLHlCQUFBO01BQUEsc0JBQUE7VUFBQSxtQkFBQTtFQUNBLGVBQUE7RUFDQSxhQUFBO0VBQ0Esa0JBQUE7QVA2TUo7QU8zTUk7RUFDQyxrQkFBQTtFQUNBLFNBQUE7RUFDQSxRQUFBO0VBQ0EsU0FBQTtFQUNBLFVBQUE7RUFDQSxVQUFBO0FQNk1MO0FPM01JO0VBQ0MsY0h4Q1c7RUd5Q1gsVUFBQTtFQUNBLGtCQUFBO0VBQ0EsU0FBQTtFQUNBLFFBQUE7RUFDQSxTQUFBO0VBQ0EsVUFBQTtFQUNBLFVBQUE7RUFDQSxpQ0FBQTtFQUFBLDRCQUFBO0VBQUEseUJBQUE7RUFDQSxxQ0FBQTtVQUFBLDZCQUFBO0FQNk1MO0FPNU1LO0VBQ0MsVUFBQTtBUDhNTjtBT3ZNSTtFQUNDLFdBQUE7RUFDQSxXQUFBO0VBQ0EseUJIM0RZO0VHNERaLGdCQUFBO0FQeU1MO0FPck1HO0VBQ0MsNkJBQUE7TUFBQSx5QkFBQTtVQUFBLHFCQUFBO0VBQ0EscURBQUE7VUFBQSw2Q0FBQTtFQUNBLGlDQUFBO1VBQUEseUJBQUE7QVB1TUo7QU9wTUc7RUFDQyw2QkFBQTtNQUFBLHlCQUFBO1VBQUEscUJBQUE7RUFDQSxxREFBQTtVQUFBLDZDQUFBO0VBQ0EsaUNBQUE7VUFBQSx5QkFBQTtBUHNNSjtBT25NRztFQUNDLDZCQUFBO01BQUEseUJBQUE7VUFBQSxxQkFBQTtFQUNBLHFEQUFBO1VBQUEsNkNBQUE7RUFDQSxpQ0FBQTtVQUFBLHlCQUFBO0FQcU1KO0FPbk1HO0VBQ0MsdUJBQUE7RUFDQSxtQ0FBQTtVQUFBLDJCQUFBO0VBQ0EsbUJBQUE7RUFDQSxjQUFBO0VBQ0Esb0JBQUE7RUFBQSxvQkFBQTtFQUFBLGFBQUE7RUFDQSx5QkFBQTtNQUFBLHNCQUFBO1VBQUEsOEJBQUE7RUFDQSxZQUFBO0VBQ0EsZ0JBQUE7QVBxTUo7QU9uTUk7RUFDQyx5REFBQTtVQUFBLGlEQUFBO0VBQ0EscUNBQUE7VUFBQSw2QkFBQTtBUHFNTDtBT25NSTtFQUNDLHVEQUFBO1VBQUEsK0NBQUE7RUFDQSxxQ0FBQTtVQUFBLDZCQUFBO0FQcU1MO0FPbE1JO0VBQ0MsaUJBQUE7RUFDQSxtQkFBQTtNQUFBLFdBQUE7VUFBQSxPQUFBO0FQb01MO0FPbk1LO0VBQ0MseURBQUE7VUFBQSxpREFBQTtFQUNBLHFDQUFBO1VBQUEsNkJBQUE7QVBxTU47QU9uTUs7RUFDQyx3QkFBQTtBUHFNTjtBT25NSztFQUNDLG1CQUFBO0VBQ0EsZ0JBQUE7RUFDQSxZQUFBO0VBQ0EsMEJBQUE7S0FBQSx1QkFBQTtFQUNBLG1CQUFBO0FQcU1OO0FHelRDO0VJK0dJO0lBT0UsV0FBQTtFUHVNTDtBQUNGO0FPbk1JO0VBQ0MsdUJBQUE7RUFDQSxtQkFBQTtBUHFNTDtBT25NSztFQUNDLFNBQUE7RUFDQSxpQkFBQTtBUHFNTjtBT2pNSTtFQUNDLG1CSHJJWTtFR3NJWixtQkFBQTtFQUNBLG9CQUFBO0VBQUEsb0JBQUE7RUFBQSxhQUFBO0VBQ0EseUJBQUE7TUFBQSxzQkFBQTtVQUFBLG1CQUFBO0VBQ0Esd0JBQUE7TUFBQSxxQkFBQTtVQUFBLHVCQUFBO0VBQ0EsYUFBQTtBUG1NTDtBT2pNSztFQUNDLFlBQUE7RUFDQSxlQUFBO0VBQ0EsaUNBQUE7TUFBQSw2QkFBQTtVQUFBLHlCQUFBO0FQbU1OO0FPOUxFO0VBQ0MsbUJBQUE7RUFDQSw2RUFBQTtFQUFBLDJFQUFBO0VBTUEsa0JBQUE7RUFDQSx3QkFBQTtFQUNBLG1CQUFBO0VBQ0EseURBQUE7VUFBQSxpREFBQTtFQUNBLGtCQUFBO0FQMkxIO0FPekxHO0VBQ0MsNkVBQUE7RUFBQSwyRUFBQTtFQU9BLDZDQUFBO1VBQUEscUNBQUE7QVBxTEo7QUdoV0M7RUlxSkM7SUEwQkUsVUFBQTtJQUNBLGtCQUFBO0VQcUxGO0FBQ0Y7QUdoV0M7RUkrSUM7SUErQkUsVUFBQTtJQUNBLGtCQUFBO0VQc0xGO0FBQ0Y7QUdoV0M7RUl5SUM7SUFvQ0UsVUFBQTtJQUNBLGtCQUFBO0VQdUxGO0FBQ0Y7QU9yTEc7RUFDQyxlQUFBO0VBQ0EsWUFBQTtBUHVMSjs7QVF2WEE7RUFDQyx5QkFBQTtFQUNBLFNBQUE7RUFDQSxtQkFBQTtBUjBYRDtBUXhYQztFQUNDLGtCQUFBO0FSMFhGO0FReFhFO0VBQ0MsWUFBQTtFQUNBLGlDSk5VO0VJT1YsU0FBQTtFQUNBLGVBQUE7QVIwWEg7QVF0WEM7RUFDQyxpQkFBQTtFQUNBLFNBQUE7RUFDQSxpQkFBQTtBUndYRjtBUXRYRTtFQUNDLFlBQUE7QVJ3WEg7QVF0WEc7RUFDQyxxQkFBQTtFQUNBLGVBQUE7QVJ3WEoiLCJmaWxlIjoicmVzdGF1cmFudC5jc3MifQ== */