html,
body {
	margin: 0;
	padding: 0;
	@include pc1440-only {
		max-width: 1440px;
		margin: auto;
	}
}

h1 {
	font-size: 25px;
	font-weight: bold;
	font-family: $font-title;
	text-align: center;
}

h2 {
	font-size: 15px;
	font-weight: bold;
	font-family: $font-main;
	text-transform: uppercase;
	color: rgb(76, 76, 76);
}

h3 {
	font-size: 15px;
	font-weight: bold;
	font-family: $font-main;
	text-overflow: ellipsis;
}

p {
	font-size: 14px;
	font-family: $font-main;
}

a {
	text-decoration: none;
	font-size: 14px;
	font-family: $font-main;
	color: black;
}

li {
	text-decoration: none;
	font-size: 14px;
	font-family: $font-main;
	color: black;
	list-style-type: none;
}
