@keyframes menu_anim {
	from {
		transform: translate(0, 20px);
		opacity: 0;
	}
	to {
		transform: translate(0, 0);
		opacity: 1;
	}
}

@keyframes checkbox-rotation {
	from {
		transform: rotate(180deg);
	}
	to {
		transform: rotate(0deg);
	}
}

@keyframes checkbox-rotation-reverse {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(180deg);
	}
}

@keyframes checkbox-translation {
	from {
		margin-right: -70px;
	}
	to {
		margin-right: 0px;
	}
}

@keyframes checkbox-translation-reverse {
	from {
		margin-right: 0px;
	}
	to {
		margin-right: -70px;
	}
}

@keyframes description_p_width {
	from {
		width: 240px;
	}
	to {
		width: 200px;
	}
}
@keyframes description_p_width-reverse {
	from {
		width: 200px;
	}
	to {
		width: 240px;
	}
}
