@keyframes progress-bar {
	0% {
		z-index: 3;
		transform: scaleX(0);
		opacity: 1;
	}
	17% {
		transform: scaleX(0.18);
	}
	24% {
		transform: scaleX(0.4);
	}
	46% {
		transform: scaleX(0.81);
	}
	85% {
		opacity: 1;
	}
	100% {
		transform: scaleX(1);
		opacity: 0;
		z-index: -3;
	}
}

@keyframes progress-bar--bg {
	0% {
		z-index: 3;
		opacity: 1;
	}
	85% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		z-index: -3;
	}
}
