footer {
	background-color: rgb(53, 53, 53);
	margin: 0;
	padding: 0 0 20px 0;

	#logo_footer {
		padding: 15px 15px;

		h3 {
			color: white;
			font-family: $font-title;
			margin: 0;
			font-size: 20px;
		}
	}

	ul {
		padding: 0px 15px;
		margin: 0;
		line-height: 25px;

		a {
			color: white;

			.fas {
				padding: 0px 10px 0 0;
				font-size: 10px;
			}
		}
	}
}
