.loader {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 75%;
	position: fixed;
	top: 25%;
	left: 13%;
<<<<<<< HEAD
	z-index: -1;
=======
	z-index: 2;
>>>>>>> parent of b6bb235 (Correction of index.scss)
	@include tablet-only {
		left: 30%;
	}
	@include pc1440-only {
		left: 37.5%;
	}
	p {
		width: 50%;
		opacity: 0;
		text-align: center;
		font-family: $font-title;
		font-size: 20px;
		padding: 20px;
		color: white;
		border-radius: 50px;
		background: linear-gradient(
			357deg,
			rgba(147, 86, 220, 1) 5%,
			rgba(255, 121, 218, 1) 100%,
			rgba(234, 234, 234, 1) 100%
		);
		animation: progress-bar--bg 1500ms;
		animation-fill-mode: backwards;
	}
	@include tablet-only {
		width: 40%;
	}
	@include pc1440-only() {
		width: 25%;
	}
	.progress {
		background: rgba(223, 223, 223, 0.602);
		opacity: 0;
		animation: progress-bar--bg 1500ms;
		animation-fill-mode: backwards;
		width: 100%;
		&__bar {
			background: $primary-color;
			padding: 18px;
			opacity: 0;
			animation: progress-bar 1500ms;
			animation-fill-mode: backwards;
			transform-origin: left;
		}
	}
}
